* {
    margin: 0px;
}

header {
    background-color: #8b8a8a;
    position: relative;
}

header img {
    padding-left: 10px;
}

header h1 {
    font-size: 40px;
    position: absolute;
    top: 110px;
    right: 40%;
}

#banner {
    width: 100%;
}

.principal {
    height: 170px;
    background-color: #8b8a8a;
    padding: 30px;
}

p {
    text-align: center;
    font-size: 18px;
}

#missao {
    font-size: 20px;
}

em strong {
    color: #FF0000;
}

.beneficios {
    background-color: #FFFFFF;
    padding: 20px;
}

.titulo-centralizado {
    text-align: center;
    padding-bottom: 10px;
    font-size: 25px;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
    margin-top: 10%;
}

.itens {
    margin-bottom: 15px;
    font-style: italic;
    font-size: 25px;
}

.imagem-beneficios {
    width: 50%;
}

